@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #4bf84b;
    --color-primary-dull: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}