JWT_SECRET="replace_with_secure_secret"
NODE_ENV="development"
CLIENT_URL="http://localhost:5173"

SELLER_EMAIL="admin@example.com"
SELLER_PASSWORD="replace_with_secure_password"

MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net"

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

PORT=4000
